.text_color{
 color:#fff46b;
}

.text_color2{
 color:white;
 font-weight: 700;
}
.text_color4{
   font-weight: 700;

}

li{
    text-decoration:none;
    
}

	#intro15 {
		background: url("images/overlay.png"), url("../../images/intro15.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one15{
	background: url("images/overlay.png"), url("../../images/one15.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two15 {
		background: url("images/overlay.png"), url("../../images/two15.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
	
		#intro16 {
		background: url("images/overlay.png"), url("../../images/intro16.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one16{
	background: url("images/overlay.png"), url("../../images/one16.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two16 {
		background: url("images/overlay.png"), url("../../images/two16.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
	
		#intro17 {
		background: url("images/overlay.png"), url("../../images/intro17.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one17{
	background: url("images/overlay.png"), url("../../images/one17.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two17 {
		background: url("images/overlay.png"), url("../../images/two17.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}


		#intro18 {
		background: url("images/overlay.png"), url("../../images/intro18.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one18{
	background: url("images/overlay.png"), url("../../images/one18.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two18 {
		background: url("images/overlay.png"), url("../../images/two18.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
	
	
			#intro19 {
		background: url("images/overlay.png"), url("../../images/intro19.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one19{
	background: url("images/overlay.png"), url("../../images/one19.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two19 {
		background: url("images/overlay.png"), url("../../images/two19.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
	
				#intro20 {
		background: url("images/overlay.png"), url("../../images/intro20.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one20{
	background: url("images/overlay.png"), url("../../images/one20.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two20 {
		background: url("images/overlay.png"), url("../../images/two20.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}


			#intro21 {
		background: url("images/overlay.png"), url("../../images/intro21.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one21{
	background: url("images/overlay.png"), url("../../images/one21.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two21 {
		background: url("images/overlay.png"), url("../../images/two21.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}




		#intro22 {
		background: url("images/overlay.png"), url("../../images/intro22.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one22{
	background: url("images/overlay.png"), url("../../images/one22.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two22 {
		background: url("images/overlay.png"), url("../../images/two22.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}



		#intro23 {
		background: url("images/overlay.png"), url("../../images/intro23.jpeg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one23{
	background: url("images/overlay.png"), url("../../images/one23.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two23 {
		background: url("images/overlay.png"), url("../../images/two23.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}


		#intro24 {
		background: url("images/overlay.png"), url("../../images/intro24.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one24{
	background: url("images/overlay.png"), url("../../images/one24.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two24 {
		background: url("images/overlay.png"), url("../../images/two24.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}


		#intro25 {
		background: url("images/overlay.png"), url("../../images/intro25.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one25{
	background: url("images/overlay.png"), url("../../images/one25.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two25 {
		background: url("images/overlay.png"), url("../../images/two25.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}


	#intro26 {
		background: url("images/overlay.png"), url("../../images/intro26.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one26{
	background: url("images/overlay.png"), url("../../images/one26.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two26 {
		background: url("images/overlay.png"), url("../../images/two26.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}


	#intro27 {
		background: url("images/overlay.png"), url("../../images/intro27.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one27{
	background: url("images/overlay.png"), url("../../images/one27.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two27 {
		background: url("images/overlay.png"), url("../../images/two27.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
	
		#intro28 {
		background: url("images/overlay.png"), url("../../images/intro28.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one28{
	background: url("images/overlay.png"), url("../../images/one28.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two28 {
		background: url("images/overlay.png"), url("../../images/two28.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}


		#intro29 {
		background: url("images/overlay.png"), url("../../images/intro29.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one29{
	background: url("images/overlay.png"), url("../../images/one29.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two29 {
		background: url("images/overlay.png"), url("../../images/two29.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
	
			#one30{
	background: url("images/overlay.png"), url("../../images/one30.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}

/* Two */

	#two30 {
		background: url("images/overlay.png"), url("../../images/two30.jpeg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}



.btn-up {
    position: fixed;
    background-color: #8fabca;
    right: 20px;
    bottom: 14px;
    border-top-left-radius: 21px;
    border-top-right-radius: 21px;
    border-bottom-left-radius: 21px;
    border-bottom-right-radius: 21px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
}

.btn-up::before {
  content: "";
  width: 18px;
  height: 40px;
  background: transparent no-repeat center center;
  background-size: 100% 100%;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' fill='%23fff' viewBox='0 0 16 16'%3E%3Cpath fill-rule='evenodd' d='M7.646 4.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1-.708.708L8 5.707l-5.646 5.647a.5.5 0 0 1-.708-.708l6-6z'/%3E%3C/svg%3E");
}

.btn-up_hide {
  display: none;
}

@media (hover: hover) and (pointer: fine) {
  .btn-up:hover {
    background-color: #512da8; /* цвет заднего фона при наведении */
  }
}

.ttx{
    text-align:center;
}

.navbar-toggler {
    padding: 7px;
    font-size: 17px;
    line-height: 1;
    color: #fff;
    background-color: transparent;
    border: 1px solid;
    border-radius: 14%;
    transition: var(--bs-navbar-toggler-transition);

}

		#intro555 {
		background: url("images/overlay.png"), url("../../images/introcar.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one555{
	background: url("images/overlay.png"), url("../../images/one25.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two555 {
		background: url("images/overlay.png"), url("../../images/two29.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
	
			#intro556 {
		background: url("images/overlay.png"), url("../../images/newnab.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one556{
	background: url("images/overlay.png"), url("../../images/newnab2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two556 {
		background: url("images/overlay.png"), url("../../images/newnab3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
	
			#intro557 {
		background: url("images/overlay.png"), url("../../images/soborkaz.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one557{
	background: url("images/overlay.png"), url("../../images/soborkaz3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two557 {
		background: url("images/overlay.png"), url("../../images/soborkaz2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
	
				#intro558 {
		background: url("images/overlay.png"), url("../../images/sobornev.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one558{
	background: url("images/overlay.png"), url("../../images/sobornev3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two558 {
		background: url("images/overlay.png"), url("../../images/sobor5.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
			#intro600 {
		background: url("images/overlay.png"), url("../../images/dubovka.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one600{
	background: url("images/overlay.png"), url("../../images/dubovka3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two600 {
		background: url("images/overlay.png"), url("../../images/dubovka2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}

			#intro601 {
		background: url("images/overlay.png"), url("../../images/kazmuz.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one601{
	background: url("images/overlay.png"), url("../../images/muzkaz2.jpeg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two601 {
		background: url("images/overlay.png"), url("../../images/muzkaz3.jpeg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
		
				#intro602 {
		background: url("images/overlay.png"), url("../../images/dub100.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one602{
	background: url("images/overlay.png"), url("../../images/dub101.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two602 {
		background: url("images/overlay.png"), url("../../images/dub102.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
						#intro603 {
		background: url("images/overlay.png"), url("../../images/morutari.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one603{
	background: url("images/overlay.png"), url("../../images/morutari2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two603 {
		background: url("images/overlay.png"), url("../../images/morutari3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
							#intro700 {
		background: url("images/overlay.png"), url("../../images/volz.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one700{
	background: url("images/overlay.png"), url("../../images/volz2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two700 {
		background: url("images/overlay.png"), url("../../images/volz3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
								#intro777{
		background: url("images/overlay.png"), url("../../images/kamis.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one777{
	background: url("images/overlay.png"), url("../../images/kamis2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two777 {
		background: url("images/overlay.png"), url("../../images/kamis3.jpeg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
		
		
		
							#intro999 {
		background: url("images/overlay.png"), url("../../images/girnovsk2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#one999{
	background: url("images/overlay.png"), url("../../images/girnovsk3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#two999 {
		background: url("images/overlay.png"), url("../../images/girnovsk.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
			
							#introser {
		background: url("images/overlay.png"), url("../../images/serafim.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#oneser{
	background: url("images/overlay.png"), url("../../images/serafim3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#twoser {
		background: url("images/overlay.png"), url("../../images/serafim2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
		
								#introil {
		background: url("images/overlay.png"), url("../../images/il.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#oneil{
	background: url("images/overlay.png"), url("../../images/il2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#twoil {
		background: url("images/overlay.png"), url("../../images/il3.jpeg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
								#introfr {
		background: url("images/overlay.png"), url("../../images/fr.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#onefr{
	background: url("images/overlay.png"), url("../../images/fr2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#twofr {
		background: url("images/overlay.png"), url("../../images/fr3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
									#introkt {
		background: url("images/overlay.png"), url("../../images/kot.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#onekt{
	background: url("images/overlay.png"), url("../../images/kot2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#twokt {
		background: url("images/overlay.png"), url("../../images/kot3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
		
									#introklc {
		background: url("images/overlay.png"), url("../../images/klc.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#oneklc{
	background: url("images/overlay.png"), url("../../images/klc2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#twoklc {
		background: url("images/overlay.png"), url("../../images/klc3.jpeg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
		
										#intromih {
		background: url("images/overlay.png"), url("../../images/mih.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#onemih{
	background: url("images/overlay.png"), url("../../images/mih2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#twomih {
		background: url("images/overlay.png"), url("../../images/mih3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}
		
		
		
										#introur {
		background: url("images/overlay.png"), url("../../images/ur.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, bottom center;
		background-repeat: repeat, no-repeat;
	}
		#oneur{
	background: url("images/overlay.png"), url("../../images/ur2.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		background-position: top left, center center;
	}
		#twour {
		background: url("images/overlay.png"), url("../../images/ur3.jpg");
		background-size: 256px 256px, cover;
		background-attachment: fixed, fixed;
		}



#intropall {
	background: url("images/overlay.png"), url("../../images/pall.jpg");
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, bottom center;
	background-repeat: repeat, no-repeat;
}
#onepall{
	background: url("images/overlay.png"), url("../../images/pall2.jpg");
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, center center;
}
#twopall {
	background: url("images/overlay.png"), url("../../images/pall3.jpg");
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
}


#introkotel {
	background: url("images/overlay.png"), url("../../images/kotel.jpg");
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, bottom center;
	background-repeat: repeat, no-repeat;
}
#onekotel{
	background: url("images/overlay.png"), url("../../images/kotel2.jpg");
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
	background-position: top left, center center;
}
#twokotel {
	background: url("images/overlay.png"), url("../../images/kotel3.jpg");
	background-size: 256px 256px, cover;
	background-attachment: fixed, fixed;
}








